<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                 <img height="600px" src="https://wallpaperaccess.com/full/4620961.png" alt="">
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="row g-3">
                <h1>Patient Entry</h1>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Patient Name</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Patient ID</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea class="form-control" name="" id="" rows="1"></textarea>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Contact No</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Date of appointment</label>
                    <input type="date" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form label">Patient</label>
                    <input type="file" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Doctor Name</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12 col-xxl-12">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>       
         </div>
        
    </div>
       
    </div>
